<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.boot.mapper.MyMapper">

    <insert id="insertA">
        insert into a values (1)
    </insert>
    <insert id="insertA1">
        insert into a1 values (1)
    </insert>
</mapper>